@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    width: 100vw;
    text-align: center;
    background-color: #ccc;
    font-family: 'Poppins', sans-serif;
}

.header h1{
    padding-bottom: 100px;
}
.container{
    padding: 6em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
button{
    background-color: white;
    border: 1px solid transparent;
    padding: 1em;
    margin-top: 3em;
    border-radius: 10%;
    cursor: pointer;
}
.color{
    color: #4287f5;
}