body{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    width: 100vw;
    text-align: center;
    background-color: #ccc;
}
.container{
    border: 3px solid black;
    padding: 6em;
}
button{
    background-color: white;
    border: 1px solid transparent;
    padding: 1em;
    border-radius: 10%;
    cursor: pointer;
}